@use "./Common.scss";

#about-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  .aboutText {
    max-width: 40%;
    p {
      a {
        color: Common.$teal;
        text-decoration: none;
        transition: ease-in-out 0.5s;
        &:hover {
          color: Common.$gold;
          transition: ease-in-out 0.5s;
        }
      }
    }
  }
}
