@use "./Common.scss";
$logoSize: 8em;

#header-container {
  background-image: url("../../public/photos/header-bkgnd.jpg");
  background-size: cover;
  padding: 1.5em;
  margin-bottom: 3em;
  height: 8em;
  border-bottom: 3px Common.$gold solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  max-width: 100%;
  #layer1 {
    #Site-Logo {
      #logo {
        height: $logoSize;
        width: $logoSize;
        transition: 0.5s;
        &:hover {
          height: ($logoSize * 1.05);
          width: ($logoSize * 1.05);
          transition: 0.5s;
        }
      }
    }
    #toggleMenuOpenButton {
      display: none;
    }
  }

  .other-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        padding-left: 1em;
        a {
          text-decoration: none;
          font-size: 1.17em;
          font-weight: bold;
          color: Common.$gold;
          transition: 0.5s;
          &:hover {
            transition: 0.5s;
            color: black;
            text-decoration: solid black 1px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  @media all and (max-width: 730px) {
    & {
      height: fit-content;
      flex-direction: column;
    }
    #layer1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      #toggleMenuOpenButton {
        border: none;
        background-color: transparent;
        color: Common.$gold;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        size: 1.17em;
        transition: 0.5s ease-in-out;
        &:hover {
          color: black;
          size: 1.2em;
          transition: 0.5s ease-in-out;
        }
      }
    }
    .other-links {
      ul {
        display: none;
        flex-direction: column;
        transition: ease-in-out 0.5s;
      }
    }
    .other-links.expanded {
      ul {
        display: flex;
        transition: ease-in-out 0.5s;
        width: 100%;
        li {
          transition: ease-in-out 0.5s;
          &:hover {
            transition: ease-in-out 0.5s;
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
