@use "./Common.scss";

#main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin: 1em;
  justify-content: center;
  align-items: center;
  img {
    width: 15em;
    height: 15em;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    li {
      padding: 1em;
      border: 1px dotted black;
      a {
        color: black;
        transition: 0.5s;
        &:hover {
          color: Common.$gold;
          transition: 0.5s;
        }
      }
    }
  }
}
