@use "./Common.scss";

div {
  display: flex;
  flex-direction: column;
  .portfolio-container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 1em;
    iframe {
      width: 25em;
      height: auto;
      margin: -3em;
      zoom: 2;
      overflow: hidden;
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -o-transform: scale(0.5);
      -webkit-transform: scale(0.5);
    }
    img {
      height: 300px;
      width: auto;
      margin: 1em 3.5em;
    }
    div {
      span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: fit-content;
        a {
          color: Common.$gold;
          padding: 1em;
          text-decoration: none;
          transition: 0.5s ease-in-out;
          &:hover {
            color: black;
            letter-spacing: 1px;
            transition: 0.5s ease-in-out;
          }
        }
      }
      p {
        size: 12px;
      }
    }
  }
}
